{% extends 'base.html.twig' %}

{% block body %}
<style>
#titre1{
    text-align :right;
            align-content: space-between;
            word-spacing: 10px;
            font-size: 20px;
            letter-spacing: normal;
            justify-content: right;
            tab-size: 20px;
            font-family: "Times New Roman";
}

#titre2{
    text-align :center;
            align-content: space-between;
            word-spacing: 10px;
            font-size: 20px;
            letter-spacing: normal;
            justify-content: right;
            tab-size: 20px;
            font-family: "Times New Roman";
}


#soustitre1,#choix1{
    text-align :right;
            align-content: space-between;
            word-spacing: 5px;
            font-size: 20px;
            letter-spacing: normal;
            justify-content: right;
            tab-size: 10px;
            font-family: "Times New Roman";
}
td,th,tr /* Toutes les cellules des tableaux... */
{
    
   text-align:right;

            align-content: space-between;
            word-spacing: 5px;
            font-size: 20px;
            letter-spacing: normal;
            justify-content: right;
            
            font-family: "Times New Roman";
    border: 1px solid black; /* auront une bordure de 1px */
}
table{
      text-align :right;
            
}
input{
    border-color:white;
}
</style>


<div class="container">

<h3 id="titre1">الجمهورية التونسية
<br>رئاسة الحكومة
</h3>
<br><br>
<h2 id="titre2">نموذج الملحق عدد 2
بطاقة بيانات إسناد صفقات عمومية
السنة : 2019
</h3><br><br>

<h5 id="soustitre1">المشتري العمومي : شركة النقل بتونس</h5>
<h5 id="soustitre1">إسم المسؤول عن خلية الصفقات العمومية ولقبه : السيد محمد شوقي العبيدي</h5>
<h5 id="soustitre1">الهاتف: 71904858 الفاكس:   العنوان الإلكتروني </h5>

<p id="soustitre1">  طبيعة الصفقة  :   

<input type="checkbox" id="choix1" name="choix1" value="Bike">أشغال

<input type="checkbox" id="choix1" name="choix1" value="Bike">  دراسة

<input type="checkbox" id="choix1" name="choix1" value="Bike">  تزود بمواد
</p>
<p id="soustitre1">    

<input type="checkbox" id="choix1" name="choix1" value="Bike">تزود بخدمات 

<input type="checkbox" id="choix1" name="choix1" value="Bike">  البرمجيات والخدمات الإعلامية  

</p>
<p id="soustitre1">    

<input type="checkbox" id="choix1" name="choix1" value="Bike"> تزوّد بمعدّات إعلامية 

<input type="checkbox" id="choix1" name="choix1" value="Bike">   دراسة في مجال الإعلامية وتكنولوجيات الإتّصال   

</p>

<p id="soustitre1">الموضوع: أشغال الهندسة المدنية لصيانة الشبكة الحديدية و المباني و المستودعات  </p>
<p id="soustitre1">    

<input type="checkbox" id="choix1" name="choix1" value="Bike">  صفقة غير مخصصة لفائدة المؤسسات الصغرى   

<input type="checkbox" id="choix1" name="choix1" value="Bike">   صفقة لفائدة المؤسسات الصغرى   

</p>

<p id="soustitre1"> ............المبلغ (بالدينار) : 1.499.340.500 (   المبلغ الأقصى ) التمويل(1): ميزانية </p>
<p id="soustitre1">عدد الأقساط إن وجدت <input>    طريقة الإبرام(2) : طلب عروض مفتوح (صفقة إطارية)    </p>
<p id="soustitre1"> صاحب الصفقة :      <input>            جنسيته : تونسية. </p>
<P id="soustitre1">تصنيف صاحب الصفقة (بالنسبة للبيانات والأشغال العمومية) </p>
<p id="soustitre1"><input>: النشاط*</p> 
<p id="soustitre1"><input>: الإختصاص*</p> 
<p id="soustitre1"><input>: الصنف *</p> <br>
<h4 id="soustitre1"> : معلومات حول الآجال  - </h4>

<table >
<tr>
<td> <input >  </td>

<td> <input >  </td>

<td> <input >  </td>
<th > :  تاريخ الإعلان عن المنافسة</th>
</tr>

<tr>
<td> <input ></td>
<td> <input ></td>
<td rowspan="2"><input ></td>
<th rowspan="2" style="width:100px">  آخر أجل لقبول العروض االفنية: (اليوم والساعة)</th>

</tr>
<tr>
<td colspan="1"> <input >  </td>

<td colspan="1"> <input >  </td>
</tr>

<tr>
<td ></td>
<td ></td>
<td><input ></td>
<th style="width:100px" >تاريخ وساعة فتح العروض</th>
</tr>
<tr>
<th></th>
<th></th>
<th><input></th>
<th>تاريخ تعهد لجنة مراقبة الصفقات بالملف</th>
</tr>
<tr>
<th></th>
<th></th>
<th><input></th>
<th>تاريخ إبداء رأي لجنة مراقبة الصفقات</th>
</tr>

</table>


<br><br><br>
<h4 id="soustitre1">معلومات حول المنافسة (كل قسط على حدة)-</h4>

<table>
<tr>
<th>عدد العروض المقصاة من قبل لجنة تقييم العروض</th>
<th>عدد العروض المقصاة من قبل لجنة فتح العروض</th>
<th>عدد العروض المقصاة من قبل لجنة فتح العروض</th>
<th>عدد ساحبي كراسات الشروط</th>
</tr>
<tr>
<th><input></th>
<th><input></th>
<th><input></th>
<th><input></th>
</tr>

</table><br>
<p id="soustitre1"> <input>(1) ميزانية أو هبة أو قرض من قبل </p>
<p id="soustitre1">(2) طلب عروض مفتوح أو مسبوق بانتقاء أو مع مناظرة او طلب عروض على مرحلتين أو إستشارة موسعة أو تفاوض مباشر.</p>


<br>
<h5 id="soustitre1"> معلومات حول تقييم العروض</h5>

<p id="soustitre1">    

<input type="checkbox" id="choix1" name="choix1" value="Bike"> تقييم على أساس العرض الأقل ثمنا

<input type="checkbox" id="choix1" name="choix1" value="Bike">    تقييم على أساس الموازنة بين الكلفة والجودة    

</p>
<p id="soustitre1">    

<input type="checkbox" id="choix1" name="choix1" value="Bike"> تقييم على أساس الجودة 
   

</p>
<p id="soustitre1">تقييم على أساس العرض الأقل ثمنا (كل قسط على حدة)</p>

<table style="margin-left:40%">
<tr>
<td>معايير المطابقة</td>
<td>عدد العروض المطابقة</td>
</tr>
<tr>
<td><input></td>
<td><input></td>
</tr>
<tr>
<td><input></td>
<td><input></td>
</tr>
<tr>
<td><input></td>
<td><input></td>
</tr>
</table>
<br>
<p id="soustitre1">تقييم على أساس الموازنة بين الكلفة والجودة (كل قسط على حدة)</p>

<table style="margin-left:40%">
<tr>
<td>الأهمية النسبية لكل معيار</td>
<td>المعايير المعتمدة للفرز الفني</td>
</tr>
<tr>
<td><input></td>
<td><input></td>
</tr>
<tr>
<td><input></td>
<td><input></td>
</tr>
<tr>
<td><input></td>
<td><input></td>
</tr>
</table>

<table style="margin-left:10%">
<tr>
<td><p>الموازنة بين العدد الفني والعدد المالي</p>
<p><input>العدد الفني</p>
<p><input>العدد المالي</p></td>
</tr>
</table>
<h5 id="soustitre1">الأسعار(بالدينارالتونسي)</h5>
<p id="soustitre1">    
<b>طبيعة الأسعار</b>
<input type="checkbox" id="choix1" name="choix1" value="Bike"> أسعار ثابتة       

<input type="checkbox" id="choix1" name="choix1" value="Bike">    أسعار قابلة للمراجعة      

</p>

<p id="soustitre1">    
<b>صيغة الأسعار</b>
<input type="checkbox" id="choix1" name="choix1" value="Bike">أسعار فردية            

<input type="checkbox" id="choix1" name="choix1" value="Bike">    أسعار جزافية       

</p>

<p id="soustitre1"><b>تقديرات المشتري العمومي: الأقصى   1.500.000.000 دينار</b></p>


<table style="margin-right:20%">
<tr>
<td>العرض الخامس</td>
<td>العرض الرابع</td>
<td>العرض الثالث</td>
<td>العرض الثاني</td>
<td>العرض الأول </td>
</tr>

<tr>
<td><input></td>
<td><input></td>
<td><input></td>
<td><input></td>
<td><input></td>
</tr>
</table>
<br><br>
<p id="soustitre1"><b>ذكر الملاحظات أو الإشكاليات التي طرحها إبرام هذه الصفقة من حيث : كثافة المنافسة –آجال المصادقة على الصفقة –سهولة أو صعوبة تطبيق المقاييس-مستوى الأسعار مقارنة بصفقات سابقة أو بالتقديرات - إلخ</b></p>

<input style="width:100%"><br>
<input style="width:100%"><br>

<input style="width:100%">
<br><br><br>
<h4><b>مدير إدارة لجان الصفقات</b></h4>
<h4><b>ومراقبة المصاريف </b></h4>
<p><b> محمد شوقي العبيدي</b></p>

</div>

{% endblock %}