{% extends 'base.html.twig' %}

{% block title %}Edit Form5Trimestre2{% endblock %}

{% block body %}
    <h1>Edit Form5Trimestre2</h1>

    {{ include('form5_trimestre2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('form5_trimestre2_index') }}">back to list</a>

    {{ include('form5_trimestre2/_delete_form.html.twig') }}
{% endblock %}
