<form method="post" action="{{ path('tab_c_a_delete', {'id': tab_c_a.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tab_c_a.id) }}">
    <button class="btn">فسخ</button>
</form>
