 {% extends 'base.html.twig' %}
 

 {% block body %}

<style>
#id1{
    margin-left : 70%
    
}
#id2{
    margin-left : 20%
}
#id3{
    margin-left : 50%
}
#img{
    width:600px;
}
#img1{
    width:600px;
    margin-left:20%
}
#img2{
    width:600px;
    margin-left:50%
}
</style>
<a href="{{ path('tab_c_a_index',{'id': date.id}) }}">
<img id="img" src="/../images/1.PNG" width="900px"></a> 
<a href="{{ path('tab_ca_final_index',{'id': date.id}) }}">
<img id="img1" src="/../images/2.PNG"></a> 
<a href="{{ path('tab_ca_simple_index',{'id': date.id}) }}" >
<img  id="img2" src="/../images/3.PNG"></a>


{% endblock %}