{% extends 'base.html.twig' %}

{% block title %}New TabCA{% endblock %}

{% block body %}
<br><br><br>
<hr>
<h1 style="text-align:center">الــمــصــادقــة عــلى الــصــفقـات ذات الإجراءات العادية</h1>
    <div class="container" style="margin-left:50%">


    {{ include('tab_ca/_form.html.twig') }}

</div>
{% endblock %}
